
:root {
  --entorno: #2C3E50;
}

/* faux Wikipedia logo font */
@font-face { font-family: 'Linux Libertine'; font-style: normal; font-weight: 400; src: local('Linux Libertine'),url(//brick.a.ssl.fastly.net/fonts/linuxlibertine/400.woff) format('woff'); } .fa-wikipedia:before { font-family: 'Linux Libertine', 'Times New Roman', Times, serif; font-weight: 400; content: "W"; }

body {
	font: normal normal 400;
	font-size: 10pt;
	line-height: 1.35em;
	font-family: "Open sans", sans-serif;
	margin-top: 30px;
	margin-bottom: 50px;
	/*margin-top: 1em;
	margin-left: 1em;*/
}

/* PIE DE PAGINA */

#footer {
   position: fixed;
   text-align: center;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%; /* width of the footer - Ancho del rectángulo */
   height: 18px;   /* Height of the footer - Altura del rectángulo */
   background: var(--entorno);
   color: #FFFFFF;
}

/*

#footer .links {
  color: #FFFFFF;
}

#footer .links a {
  color: #FFFFFF;
}

#footer .links a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
*/