---
---

@import "{{ site.theme }}";

header {
  img {
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

<!--
https://codepen.io/rctorr/pen/KpXaeY
-->

div.project {
  width: 100%;
  margin: 20px auto;
  background-color: #DDD;
  padding: 15px;
}

div.project img.left {
  float: left;
  margin-right: 15px;
}

div.project img.right {
  float: right;
  margin-left: 15px;
}

div.reset {
  clear: both;
}

<!--
Recursos para hacer una barra de navegación
https://www.w3schools.com/css/css_navbar_horizontal.asp
-->

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 18px;
  background-color: #FFFFFF;
}