---
---

@import "{{ site.theme }}";

header {
  img {
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

<!--
https://codepen.io/rctorr/pen/KpXaeY
-->

div.project {
  width: 100%;
  margin: 20px auto;
  padding: 15px;
}

div.project img.left {
  float: left;
  margin-right: 15px;
}

div.project img.right {
  float: right;
  margin-left: 15px;
}

div.reset {
  clear: both;
}
